//compress: true

*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  /* font-family: 'Nunito Sans', sans-serif;

  font-family: 'Yeseva One', cursive; */
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Yeseva One;
  text-transform: uppercase;
}

.button {
  cursor: pointer;
  font-style: italic;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  border-radius: 2px;
  text-transform: uppercase;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}


@import 'header.less';
@import 'section_Home.less';
@import 'section_Projects.less';