// main: main.less

.projects {
  padding-top: 107px;
  background-color: #131313;
  background-size: cover;
  height: 1074px;
  @media screen and (min-width: 500px) and (max-width: 768px) {
    padding-top: 85px;
    height: 1500px;
  }
  @media screen and (min-width: 320px) and (max-width: 500px) {
    padding-top: 85px;
    height: 1000px;
    padding-top: 36px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    @media screen and (min-width: 768px) and (max-width: 1129px) {
      padding-left: 18px;
      padding-right: 18px;
    }
    @media screen and (min-width: 500px) and (max-width: 768px) {
      padding-left: 18px;
      padding-right: 18px;
      flex-direction: column;
    }
    @media screen and (min-width: 320px) and (max-width: 500px) {
      padding-left: 18px;
      padding-right: 18px;
      flex-direction: column;
    }
    .leftSide {
      padding-top: 53px;
      @media screen and (min-width: 769px) and (max-width: 1129px) {
        width: 50%;
        padding-top: 0;
      }
      @media screen and (min-width: 500px) and (max-width: 768px) {
        padding-top: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      @media screen and (min-width: 320px) and (max-width: 500px) {
        padding-top: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
      }
      .projectsTitle {
        display: flex;
        width: 253px;
        font-size: 27px;
        line-height: 37px;
        letter-spacing: -0.07em;
        text-transform: uppercase;
        color: #E3B873;
        padding: 0;
        @media screen and (min-width: 769px) and (max-width: 1129px) {
          font-size: 20px;
        }
        @media screen and (min-width: 500px) and (max-width: 768px) {
          text-transform: uppercase;
          margin: 0 auto;
          text-align: center;
        }
        @media screen and (min-width: 320px) and (max-width: 500px) {
          font-size: 22px;
          line-height: 138.6%;
          letter-spacing: -0.07em;
          width: 150px;
          text-transform: uppercase;
          margin: 0 auto;
        }
      }
      .projectText {
        margin-top: 42px;
        padding: 0;
        width: 442px;
        font-size: 14px;
        line-height: 27px;
        color: #FFFFFF;
        @media screen and (min-width: 769px) and (max-width: 1129px) {
          font-size: 12px;
          width: 100%;
        }
        @media screen and (min-width: 500px) and (max-width: 768px) {
          margin-top: 42px;
          padding: 0;
          width: 100%;
          font-size: 14px;
          line-height: 27px;
        }
        @media screen and (min-width: 320px) and (max-width: 500px) {
          margin-top: 22px;
          font-size: 11px;
          line-height: 158.48%;
          text-align: center;
          width: 100%;
        }
      }
      .datas {
        margin-top: 42px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 400px;
        flex-wrap: wrap;
        @media screen and (min-width: 769px) and (max-width: 1129px) {
          width: 100%;
          justify-content: space-around;
        }
        @media screen and (min-width: 500px) and (max-width: 768px) {
          display: flex;
          justify-content: space-evenly;
          flex-direction: row;
          width: 100%;
          flex-wrap: wrap;
        }
        @media screen and (min-width: 320px) and (max-width: 500px) {
          width: 100%;
        }
        h4 {
          font-size: 18px;
          line-height: 25px;
          text-transform: uppercase;
          color: #E3B873;
          @media screen and (min-width: 769px) and (max-width: 1129px) {
            font-size: 14px;
            line-height: 138.6%;
          }
          @media screen and (min-width: 320px) and (max-width: 500px) {
            font-size: 14px;
            line-height: 138.6%;
          }
        }  
        p {
          width: 110px;
          margin-top: 19px;
          font-size: 13px;
          line-height: 21px;
          color: #FFFFFF;
          @media screen and (min-width: 769px) and (max-width: 1129px) {
            font-size: 11px;
            line-height: 18px;
          }
          @media screen and (min-width: 320px) and (max-width: 500px) {
            font-size: 11px;
            line-height: 18px;
          }
        }
        .leftData {
          p:nth-of-type(1) {
            margin-bottom: 34px;
          }
        }
        .rightData {
          p:nth-of-type(1){
            margin-bottom: 55px;
          }
        }
      }
      .arrows {
        margin-top: 40px;
        @media screen and (min-width: 500px) and (max-width: 768px) {
          display: none;
        }
        @media screen and (min-width: 320px) and (max-width: 500px) {
          display: none;
        }
        .leftArrow {
          margin-right: 15px;
        }
        .rightArrow {
          margin-left: 15px;
        }
        .circle {
          margin-right: 10px;
          padding: 0;
          font-size: 30px;
          color: white;
        }
        .second {
          color: rgba(255, 255, 255, 0.3);
        }
        .third {
          margin-right: 0;
          color: rgba(255, 255, 255, 0.3);
        }
      }
    }
    .rightSide {
      @media screen and (min-width: 769px) and (max-width: 1129px) {
        width: 50%;
      }
      @media screen and (min-width: 500px) and (max-width: 768px) {
        display: flex;
        flex-direction: column;
      }
      @media screen and (min-width: 320px) and (max-width: 500px) {
        display: flex;
        flex-direction: column;
      }
      nav {
        @media screen and (min-width: 769px) and (max-width: 1129px) {
          display: none;
        }
        height: 71px;
        @media screen and (min-width: 500px) and (max-width: 768px) {
          display: none;
        }
        @media screen and (min-width: 320px) and (max-width: 500px) {
          display: none;
        }
      }
      .citiesNav {
        list-style: none;
        .citiesNav__item {
          margin-right: 60px;
          margin-bottom: 52px;
          display: inline-flex;
          text-decoration: none;
          @media screen and (min-width: 768px) and (max-width: 1129px) {
            margin-right: 40px;
          }
          a {
            font-family: Yeseva One;
            font-size: 14px;
            line-height: 19px;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.3);
            text-decoration: none;
          }
          a:hover {
            padding-bottom: 4px;
            border-bottom: 1px solid #E3B873;
            color: #E3B873;
          }
        }
      }
      .pics {
        margin-top: 36px;
        width: 100%;
        height: 482px;
        @media screen and (min-width: 768px) and (max-width: 1129px) {
          width: 100%;
          height: 100%;
        }
        @media screen and (min-width: 501px) and (max-width: 768px) {
          width: 100%;
        }
        @media screen and (min-width: 320px) and (max-width: 500px) {
          margin-top: 36px;
          width: 100%;
          height: 241px;
        }
        .appartmentPic {
          width: 672px;
          height: 482px;
          z-index: 1;
          @media screen and (min-width: 768px) and (max-width: 1129px) {
            width: 100%;
            height: 100%;
          }
          @media screen and (min-width: 500px) and (max-width: 768px) {
            width: 100%;
            z-index: 1;
            height: auto;
          }
          @media screen and (min-width: 320px) and (max-width: 500px) {
            width: 100%;
            height: auto;
            z-index: 1;
          }
        }
        .picArrows {
          display: none;
          @media screen and (min-width: 768px) and (max-width: 1129px) {
            display: none;
          }
          @media screen and (min-width: 500px) and (max-width: 768px) {
            display: flex;
            justify-content: space-between;
            margin-top: -40%;
          }
          @media screen and (min-width: 320px) and (max-width: 500px) {
            display: flex;
            justify-content: space-between;
            margin-top: -40%;
          }
          .leftArrowPic {
            @media screen and (min-width: 320px) and (max-width: 500px) {
              width: 25px;
            }
          }
          .rightArrowPic {
            @media screen and (min-width: 320px) and (max-width: 500px) {
              width: 25px;
            }
          }
        }
      }
    }
  }
}
